<h1>Publicaciones</h1>


<% @publications.each do |publication| %>
  
    <% @users.each do |user| %>
     <% if publication.user_id == user.id %>

      
      <br>
      

      <h3><b>
      <%= publication.title %></b></h3>
      <br>
      <%= image_tag publication.image.url(:medium) %>
      <br>
      <div id="publicacion">
        <br>
        <p><%= publication.description %></p>
        <p>Escrito por <%= user.alias %> el <%= publication.created_at.strftime("%A %d/%m/%Y a las %H:%M") %></p>
        <% if publication.user_id == current_user.id %>
          <%= link_to 'Editar', edit_publication_path(publication) %>
        <% end  %>
      </div>
      
      <h3>Comentarios</h3>
      <div id="comentario">
        <% @comments.each do |comment| %>
          <% if comment.publication_id == publication.id %>

            <p> 
            <%= comment.content %></p>
            
            <p>Escrito por <%= user.alias %> el <%= comment.created_at.strftime("%A %d/%m/%Y a las %H:%M") %></p>
            <br>
            <hr>
          <% end %>
        <% end %>
      </div>

      <%= form_for(@comment) do |f| %>
        <% if @comment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

            <ul>
            <% @comment.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <br />
          <%= f.hidden_field :publication_id, :value => publication.id %>
        </div>
        <div class="field">
          <%= f.hidden_field :user_id, :value => current_user.id %>
        </div>
        <div class="field">
          <%= f.label :content %><br />
          <%= f.text_area :content %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>

      <%= link_to 'Comentar', new_comment_path  %>

    <% end %>
  <% end %>

<% end %>


<br/>
<br>
<hr>

