<h1>Publicaciones</h1>


<% @publications.each do |publication| %>
  
    <% @users.each do |user| %>
     <% if publication.user_id == user.id %>

      
      <br>
      

      <h3><b>
      <%= publication.title %></b></h3>
      <br>
      <%= image_tag publication.image.url(:medium) %>
      <br>
      <div id="publicacion">
        <br>
        <p><%= publication.description %></p>
        <p>Escrito por <%= user.alias %> el <%= publication.created_at %></p>
        <% if publication.user_id == current_user.id %>
          <%= link_to 'Editar', edit_publication_path(publication) %>
        <% end  %>
      </div>
      
     <% end %>
    
   
    <% end %>
  

<% end %>


<br/>
<br><hr>

