<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @publication.user_id %>
</p>

<p>
  <b>Title:</b>
  <%= @publication.title %>
</p>

<p>
  <b>Description:</b>
  <%= @publication.description %>
</p>


<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
