<h2 class="text-success" ><i><u>Listado de Usuarios</u></i></h2>
<table class="table table-hover">
  <tr>
    <th>Alias</th>
    <th>Email</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.alias %></td>
    <td><%= user.email %></td>
    <td><%= user.score %></td>
    
    <td><%= link_to icon('edit')+'Editar', edit_user_path(user), class:'btn btn-warning' %></td>
    <td><%= link_to icon('remove')+'Eliminar', user, method: :delete, data: { confirm: 'Usted esta seguro de Eliminar dicho Cliente?' }, class:'btn btn-danger'  %></td>



  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
