<h2 class="text-success" ><i><u>Listado de Usuarios</u></i></h2>
<table class="table table-hover">
  <tr>
    <th>Alias</th>
    <th>Email</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.alias %></td>
    <td><%= user.email %></td>
    <td><%= user.score %></td>
    
    <td><%= link_to icon('edit')+'Editar', edit_user_registration_path(user), class:'btn-small btn-warning' %></td>
    <td><%= link_to icon('remove')+'Eliminar', user, method: :delete, data: { confirm: 'Usted esta seguro de Eliminar dicho Cliente?' }, class:'btn-small btn-danger'  %></td>
      <td><%= link_to 'Ver', user, class:'btn-small btn-warning' %></td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Usuario', new_user_registration_path %>

<% content_for :izq do %>
  <p id="notice"><%= notice %></p>

  <h5>Bienvenido <%= current_user.alias %><h5>
  <p><br>

  <ul class="thumbnails">
    <li class="span2">
      <div class="thumbnail">
        <%= image_tag current_user.profile_image.url(:thumb) %>
      </div>
    </li><br>
  <p class="lead">
    <b><u>Puntaje:</u></b>
    <%= current_user.score %>
  </p><br>




  <%= link_to icon('edit')+'Editar Perfil', edit_user_registration_path,class:'btn-small btn-warning' %> <br>

  <p> Mandar Mail</p>
  <p>Bandeja de Entrada</p>
<% end %>