<% if user_signed_in? %>
  <p>Ac&aacute; van a estar todos los posts en orden cronológico </p>
  <%=render 'publications/index'  %>
<% else  %>
  <h5>Bienvenido a la Red Social que estabas esperando, donde podras compartir Fotos, Videos, Noticias, sin preocuparte por nada ni nadie, tambien podras Calificar y Comentar las publicaciones de otros Usuarios, SOLO TIENES QUE ELEGIR UN ALIAS, REGISTRARTE y empezar a DIVERTIRTE!</h5>
  <br>
  <hr>
  <br><br><br><br>
  <p>Ac&aacute; van a estar los mejores 3 posts</p>
<% end  %>


<% content_for :izq do %>
  <%  if user_signed_in?  %>
    <p id="notice"><%= notice %></p>

    <h5>Bienvenido <%= link_to current_user.alias, current_user %> :D<h5>
    <br>
    <p>
    <ul class="thumbnails">
      <li class="span2">
        <div class="thumbnail">
          <%= image_tag current_user.profile_image.url(:thumb) %>
        </div>
      </li>
      <br>
    </ul>
    </p>
    <p class="lead">
      <b><u>Puntaje:</u></b>
      <%= current_user.score %>
    </p>
    <br>


    <%= link_to icon('edit')+'Editar Perfil', edit_user_registration_path,class:'btn-small btn-warning' %> <br>

    
    <p> Mandar Mail</p>
    <p>Bandeja de Entrada</p>

    <br>

    <%= link_to 'Nuevo Post', new_publication_path,class:'btn-small btn-success' %>
    <br><br>

    <%= link_to 'Cerrar sesion', destroy_user_session_path, :method => :delete %>
  <% else  %>
    <br><br>
    <%= form_for("user", :url => user_session_path) do |f| %>
      <div>
        <%= f.label :email %><br />
        <%= f.text_field :email %></div>
      <div>
        <%= f.label :password %><br />
        <%= f.password_field :password %></div>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
      <%= f.submit 'Sign in' %>
      <br>
      <%= link_to "Forgot your password?", new_password_path('user') %>
      <br><br>
      <%= link_to 'Nuevo Usuario', new_user_registration_path %>
      <% end %>
    <br>
    <hr>
    <br>
    <button class="btn btn-warning">Condiciones de Uso</button>
  

    <h6>1. Anonymous Network no se hace responsable de lo que publiques o digas en nuestra página, ya que el contenido del portal no es monitorizado. Sin embargo, si alguien nos advierte o nos damos cuenta de que has publicado algo que consideramos inapropiado, podremos eliminarlo de la página.</h6>
    <h6>2. Anonymous Network no se hará responsable si publicas contenido que pertenece a otra persona y ésta se molesta (o incluso se pone en contacto con sus abogados). Recuerda que eres el único responsable del contenido que añades a la página.</h6>
    <h6>3. Anonymous Network  no se hace responsable del uso o abuso que le den los usuarios al sitio.</h6>
  <% end %>
<% end  %>



<% content_for :menu do  %>
  <% if user_signed_in? %>
    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
     
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
     
          <!-- Be sure to leave the brand out there if you want it shown -->
          <a class="brand" href="#">Project name</a>
          <ul class="nav"  pull-right>
            <li><%= link_to 'Home', root_path  %></li>
            <li class="divider-vertical"></li>
            <li><a href="#">Mis Posts</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#">Top 5</a></li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                Secciones
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Humor</a></li>
                <li><a href="#">Deportes</a></li>
                <li><a href="#">Tecnolog&iacute;a</a></li>
                <li><a href="#">Humor</a></li>
              </ul>
            </li>
            <li class="divider-vertical"></li>
            
          </ul>
          <ul class="nav">
            <li><%= link_to 'Cerrar sesion', destroy_user_session_path, :method => :delete %></li>
            <li class="divider-vertical"></li>
          </ul>
          <li class="divider-vertical"></li>
          <!-- Everything you want hidden at 940px or less, place within here -->
          <div class="nav-collapse collapse">
            <!-- .nav, .navbar-search, .navbar-form, etc -->
          </div>
     
        </div>
      </div>
    </div>
  <% else  %>
  <% end  %>
<% end %>
