<!DOCTYPE html>
<html>
<head>
  <title>Anonymous Network</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">

</head>
<body>

<div id="todo" align="center">
  <div id="arriba">
    <div class="hero-unit">
      <h1>Anonymous Network</h1>
      <p>Red Social An&oacute;nima</p>
    </div>
    
  </div>
  <!-- header -->
<% if user_signed_in?  %>
  <div id="menu">
    <%= render 'shared/menu'  %>
  </div>
<% end  %>

  <div id="izquierda">
    <%= render 'shared/izquierda' %>

  </div><!-- columna izquierda -->

  <div id="content">
    <%= yield %>
  </div><!-- contenido -->


  <div id="derecha">

  </div><!-- columna derecha -->
  
  <div id="abajo">

     <p class="text-center" ><b> &copy; <%= Time.now.year  %> Anonymous Network </b></p>
      </div>


  
</div>



</body>
</html>
